@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #080C14;
    --color-surface: #0F1929;
    --color-card: #141E30;
    --color-border: #192840;
    --color-gold: #C9A84C;
    --color-gold2: #F0C96A;
    --color-blue: #60A5FA;
    --color-green: #34D399;
    --color-red: #F87171;
    --color-orange: #FB923C;
    --color-text: #E8F0FE;
    --color-muted: #64748B;
  }

  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    @apply bg-bg text-text antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading text-text;
  }
}